<form action="{:request()->url()}" method="post" data-auto="true" class="layui-form layui-card shadow-none">

    <div class="layui-card-body">

        <div class="layui-form-item">
            <label class="layui-form-label"><b>服务端地址</b></label>
            <div class="layui-input-block">
                <input name="open.app_path" required vali-name="服务端地址" placeholder="请输入服务端地址（必填）" value="{$vo.app_path|default=''}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><b>AppCode</b></label>
            <div class="layui-input-block">
                <input name="open.app_code" vali-name="接口AppCode" placeholder="请输入接口AppCode（必填）" required="required" value="{$vo.app_code|default=''}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><b>AppSecret</b></label>
            <div class="layui-input-block">
                <input name="open.appsecret" required vali-name="接口密钥" placeholder="请输入32位公众号接口密钥AppSecret（必填）" value="{$vo.appsecret|default=''}" maxlength="32" pattern="^[0-9a-z]{32}$" class="layui-input">

            </div>
        </div>

    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button class="layui-btn" type="submit">保存配置</button>
    </div>
</form>